nav {
  font-family: $montserrat;
  .nav-wrapper {
    padding-left: 2em;
    padding-right: 2em;
  }

  ul {
    li {
      a {
        font-size: 1.4em;
      }
    }
  }
}

@media #{$medium-and-down} {
  ul.side-nav {
    li {
      a {
        color: #000 !important;
      }
    }
  }
}

@media #{$large-and-up} {
  nav {
    ul {
      li {
        float: none;
        display: inline-block;
      }
    }
  }
}