@import 'materialize/materialize';

/* Global Variables */
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

/* Global Styles */
html {
	font-family: $montserrat;
}

section {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

footer.page-footer .footer-copyright {
	background-color: inherit !important;
}

.label {
	font-family: $open-sans;
	font-weight: 100;
}

.footer-link {
	margin-right: 1em !important;
}

/* Import Custom Styles */
@import 'navbar';
@import 'cover';
@import 'three-column';
@import 'faq';
@import 'lesson-plan';
@import 'ocf';
