@import 'materialize/materialize';

/* Global Variables */
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

/* Global Styles */
html {
  font-family: $montserrat;
}

section {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.label {
  font-family: $roboto;
  font-weight: 200;
}

/* Import Custom Styles */
@import 'navbar';
@import 'cover';
@import 'three-column';
@import 'faq';
@import 'lesson-plan';